body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Trebuchet MS', sans-serif;
  background: radial-gradient(circle at center, #ff0066, #33001a);

  display: flex;
  justify-content: center;   /* экран ортасына */
  align-items: center;       /* экран ортасына */
}

#overlay {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 2;
}

#overlay h1 {
  font-size: 2em;  /* смартфонға жақсырақ */
  text-shadow: 0 0 20px #ff3399, 0 0 40px #ff66cc;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 10px #ff3399, 0 0 20px #ff66cc; }
  to { text-shadow: 0 0 30px #ff66cc, 0 0 60px #ff3399; }
}

canvas {
  display: block;
  width: 360px;   /* смартфон ені */
  height: 640px;  /* смартфон биіктігі */
  max-width: 100%;   /* экраннан шықпасын */
  max-height: 100%;
  border-radius: 15px; /* әдемі болсын десеңіз */
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
}
